body{
    color: #ffffff;
    background: #1a222b;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}

h1{
    color: #17bf92;
    text-transform: uppercase;
    font-weight: 500;
    margin-top: 3%;
    margin-bottom: 3%;
    text-align: center;
}

video{  
    border-radius: 40px;
    max-width: 90%;
}

header{
    padding: 10px;
}

.burger-icon {
    position: relative;
    cursor: pointer;
}

.burger-nav {
    display: block;
    height: 40px;
    width: 100%;
    padding: 0;
    margin: 0;
}

header .wrapper {
    width: 100%; 
    padding: 0;
    margin: 0;
}

#nav {
    margin-top: 10px;
    overflow: hidden;
    background: #242f3b;
    border-radius: 15px;
    height: 0;
    max-height: 0px; 
    list-style-type: none;
    padding-left: 0;
    transition: linear 1s;
}

#nav.open {
    height: auto;
    max-height: 500px; 
    transition: linear 1s;
}

#nav li {
    float: none;
    text-decoration: none;
    width: 100%; 
    margin: 0;
    transition: linear 1s;
}

#nav li a {
    font-size: 1.5em;
    text-align: center;
    text-decoration: none;
    color: white;
    padding: 10px;
    display: block;
    margin: 0;
    transition: linear 1s;
}

#border-bottom{
    border-bottom: 1px solid white;
}

#contain {
    display: inline-block;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    margin: 6px;
    transition: 0.2s;
}

.change .bar1 {
    transform: rotate(-45deg) translate(-9px, 6px) ;
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    transform: rotate(45deg) translate(-8px, -8px) ;
}

.text-center{
    text-align: center;
}

.main-row{
    display: grid;
    grid-template-columns: 49% 49%;
    column-gap: 1%;
}

.image-fluid{
    max-width: 90%;
    margin-left: 4%;
}

.element-animation{
    opacity: 0;
    transform: translateY(40px);
    filter: blur(2px)
}

.element-animation.element-show{
    opacity: 1;
    transition: all 1.5s;
    transform: translateY(0%);
    filter: blur(0)
}

.characters{
    max-width: 9%;
    transition: all 0.8s;
}

.characters:hover{
    cursor: pointer;
    filter: grayscale(.75);
    transform: scale(1.05);
    transition: transform 0.8s;
}

.image-center{
    margin-bottom: 1.5%;
}

footer{
    margin: 5% 2% 2% 2%;
}

.page-footer{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.page-footer div{
    margin-left: auto;
}

@media (max-width: 1000px){
    .main-row{
        display: block;
    }
    
    .main-info{
        text-align: justify;
    }

    .main-photo img{
        margin-left: 10%;
        margin-bottom: 5%;
    }
}

@media (max-width: 1279px){
    .page-footer{
        flex-direction: column;
    }

    .page-footer div{
        margin-left: 0;
    }

    .page-footer{
        font-size: 8pt;
    }

    .main-row{
        display: block;
    }
    
    .main-info{
        text-align: justify;
        padding: 0 3%;
    }
}